@import "tailwindcss";

@theme {
  --color-gray-100: #f3f4f6;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-800: #1f2937;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-white: #ffffff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
